Package: org.thebigboss.voiceoverflipswitch
Name: VoiceOver Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch, firmware (>= 5.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Flipswitch toggle for VoiceOver.
Maintainer: PoomSmart
Author: PoomSmart
Section: Addons (Flipswitch)